* {
  margin: 0;
  padding: 0;

}

.top {
  position: absolute;
  top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  gap: 50px;
  font-weight: bolder;


  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 70px;
}

label {
  margin-right: 10px;
  font-size: x-large;
}

button {
  font-size: medium;
}

a {
  color: white;
}

.co {
  background-image: url('474057.jpg');
  background-image: url('474057.jpg');
  background-position: 0px 50%;
  height: 120px;
}

.navi {
  position: absolute;
  width: 100%;
  display: flex;
  gap: 160px;
  color: white;
  background-position: center;
  height: 60px;
  align-items: center;
  font-size: large;
  font-weight: bold;
  justify-content: center;
  font-family: sans-serif;

}

.overtop {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 120px;
}

/* 
.CardContainer {
  position: absolute;
  top: 0vh;
  left: 25vw;

  row-gap: 40px;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 50vw;
  z-index: 1;
  display: flex;
  flex-direction: column;

} */

.CardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  overflow-x: hidden;
  z-index: 1;

  top: 15vh;
  background-color: #131313;
  left: 25vw;
  font-weight: 800;
}

.left {
  height: 100vh;
  width: 14vw;
  margin: 0;
  position: absolute;
  left: 0;
  top: 15vh;

}

.left img {
  height: 160px;
  width: 25vw;
}

.right {
  height: 100vh;
  width: 24vw;
  margin: 0;
  position: absolute;
  top: 15vh;
  right: 0;
}

.right img {
  height: 160px;
  width: 25vw;
}

#cardyb {
  height: 100%;


  background-color: black;


}



.img {
  margin: 10px;
  border: 2px solid white;
  border-radius: 5px;
  height: 100px;
  width: 40vw;
}

.ca {
  color: black;
  position: absolute;


}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;

}